
.box{
    width: 200px;
    position: relative;
    display: inline-block; 
}
.box .text{
    position: absolute;
    z-index: 998;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 60%; 
    background: rgba(74, 170, 165, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%; 
    font-size: 12px;
}
