@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
*{
  margin: 0px;
  padding: 0px;
}

html,body{
  height: 100%;
  font-size: 14px;
  
}
#banner a:link {
    text-decoration: none;
    color: #DADFF7;
  }
  
#banner a:visited {
    text-decoration: none;
    color: #DADFF7;
  }
  
#banner a:hover {
    text-decoration: none;
    color: #00B4F1;
  }
  
#banner a:active {
    text-decoration: none;
    color: orange;
  }
div.foo{
  margin-left: 10px;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 2.5em;
  margin: 0.00em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}


#container{
  background-image: url("assets/imgs/bkTexturegreen.png");
  background-color: rgba(87,167,115,0.4);
  min-height: 100%;
  padding-bottom: -100px;

}
#head{
  background-color:#57A773;
  height: 100px;
  border-bottom-color:#00B4F1;
  border-bottom-style: groove;
  border-bottom-width: 10px;
}
#banner{
  width: 960px;
  height: 100px;
  background-color:#57A773;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  border-bottom-color:#00B4F1;
  border-bottom-style: groove;
  border-bottom-width: 10px;
}

#banner ul li{
  display: inline;
  padding: 10px;
}
#main{
  width: 960px;
  background-image: url("assets/imgs/bkTexturegreen.png");
  overflow: auto;
  padding-bottom: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  }

#content{
  background-color: #ABC4AB;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  color: #484D6D;
  border-color: #00B4F1;
  border-width: 6px;
  border-style: groove;
}
#content img{
  width: 200px;
  float: left;
  padding: 10px;
}
#meText{
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* Foot that will allow for copyright centered and bottom*/
#footer{
  background-color: #484D6D;
  position: relative;
  height:100px;
  margin-top: -100px;
  clear: inline;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  border-top-color:#00B4F1;
  border-top-style: groove;
  border-top-width: 10px;  
}
.box{
  width: 200px;
  position: relative;
  display: inline-block; 
}
.box .text{
  position: absolute;
  z-index: 998;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 60%; 
  background: rgba(74, 170, 165, 0.8);
  font-family: Arial,sans-serif;
  color: #fff;
  width: 60%; 
  font-size: 12px;
}
h2{
  font-size: 30px;
}
hr{
  margin: 10px 10px;
}